numpy
pandas
scikit-learn
matplotlib
ipykernel
pydantic
python-dotenv
langchain
langchain_ollama
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain_huggingface
sentence-transformers
faiss-cpu
faiss-gpu
chromadb